
<mat-toolbar class="bar hero-bg" color="transparent">
  <div class="container" >
    <button class="menu-btn"  mat-icon-button (click)="drawer.toggle()" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="brand" routerLink="/home" style="cursor:pointer;">

      <span>VerifiedByHuman.AI</span>
    </div>

    <div class="spacer"></div>

    <nav class="nav-links" aria-label="Primary">
      <a  class="nav-link" routerLink="/team">Team</a>
      <a class="nav-link" routerLink="#">Expertise</a>
      <a class="nav-link" routerLink="#">Methodology</a>
      <a class="nav-link" routerLink="/home">Home</a>
    </nav>
  </div>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #drawer
               [mode]="drawerMode"
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               (closedStart)="onSidenavClosed()">
    <nav class="column" style="padding:12px;">
      <button mat-button (click)="jump('team'); drawer.close()">Team</button>
      <button mat-button (click)="jump('expertise'); drawer.close()">Expertise</button>
      <button mat-button (click)="jump('methodology'); drawer.close()">Methodology</button>
      <button mat-button (click)="jump('services'); drawer.close()">Services</button>
      <button mat-stroked-button color="primary" (click)="jump('contact'); drawer.close()">Contact</button>

    </nav>
  </mat-sidenav>

  <div></div>
</mat-sidenav-container>
